.group-button-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.group-button-pagination .group-button-pagination__label {
  font-size: 14px;
  padding: 11px 33px;
  max-height: 44px;
  border-radius: 7px;
  border: solid #D7D7D7 1px;
  font-family: 'Quicksand', sans-serif;
  color: #353535;
  font-weight: 500;
  white-space: nowrap;
}
.group-button-pagination .group-button-pagination__label svg {
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .group-button-pagination .group-button-pagination__label {
    padding: 11px 20px;
  }
}
