.add-model-page__top-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-model-page__title {
  font-size: 24px;
  padding: 5px 0;
  font-weight: bold;
  margin-right: 20px;
}
.add-model-page__content {
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 30px;
  flex-grow: 1;
}
.add-model-page__aside {
  background: #d3d3d3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-model-page__aside-title {
  font-size: 44px;
  padding: 0 15px;
}
.add-model-page__switch {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
@media(max-width: 767px) {
  .add-model-page__content {
    display: flex;
    flex-direction: column;
  }

  .add-model-page__aside {
    width: 100%;
    height: 100%;
  }
  .add-model-page__aside-title {
    font-size: 30px;
    text-align: center;
  }
  .add-model-page__title {
    font-size: 20px;
  }
  .add-model-page__switch {
    justify-content: space-between;
  }
}
