.logo {
    display: flex;
}
.logo__link {
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    transition: color 300ms cubic-bezier(0, 0, 0.2, 1);
}
.logo__link:hover,
.logo__link:focus {
    fill: rgb(214, 101, 25);
}

/* Responsive */
@media(max-width: 480px) {
    .logo__icon {
        width: 150px;
    }
}