.confirm_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm_modal .confirm_modal__bg {
  background-color: rgba(94,110,141,.9);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.confirm_modal .confirm_modal__main {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  font-family: "Roboto";
  font-weight: bold;
}
.confirm_modal .confirm_modal__content {
  padding: 60px 40px 40px;
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.confirm_modal .confirm_modal__main .confirm_modal__close {
  position: absolute;
  right: 10px;
  top: 15px;
}

.confirm_modal .confirm_modal__footer {
  display: flex;
}

.confirm_modal .confirm_modal__footer button {
  padding: 15px 0;
  cursor: pointer;
  outline: none;
  width: 50%;
  border: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s;
}
.confirm_modal .confirm_modal__footer button:only-child {
  width: 100%;
}
.confirm_modal .confirm_modal__footer button:first-child {
  background-color: #42A4CB;
  color: #ffffff;
}

.confirm_modal .confirm_modal__footer button:first-child:hover {
  opacity: 0.8;
}

.confirm_modal .confirm_modal__footer button:last-child:hover {
  opacity: 0.6;
}
