.sidebar {
  position: fixed;
  left: 0;
  z-index: 9999;
  height: 100%;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.sidebar .sub-menu span {
  width: 100%;
  height: 100%;
}
.sidebar > aside {
  height: 100%;
}
.sidebar .sub-menu a.active {
  color: #4381e0;
}
.sidebar .ps-menu-button a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: #222222;
}

.sidebar .ps-menu-button a.active {
  text-decoration: underline;
  color: #4381e0;
}
.sidebar .ps-menu-button a.active:hover,
.sidebar .ps-menu-button a.active:hover {
  color: #ffffff;
}
.sidebar .ps-menu-button:hover {
  background-color: #2d72dc !important;
  color: #ffffff;
}
.sidebar .ps-menu-button:hover a {
  color: #ffffff;
}
.sidebar .ps-sidebar-container {
  background-color: #ffffff;
}

.sidebar .sidebar_bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: -100%;
  opacity: 0;
  transition: opacity 0.3s;
}
.sidebar .sidebar_bg.active {
  left: 0%;
  opacity: 1;
}
