.sidebar {
  position: fixed;
  left: 0;
  z-index: 9999;
  height: 100%;
  background-color: #ffffff;
}


.sidebar .sub-menu span {
  width: 100%;
  height: 100%;
}

.sidebar .sub-menu a  {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.sidebar .sub-menu a.active {
  color: blue;
}
