@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box;
  max-width: 100%;
}


body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100vh;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  flex-shrink: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #fff inset;
    -webkit-text-fill-color: #222;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.container-iframe {
  display: grid;
  grid-template-columns: 70% auto;
  flex-grow: 1;
  height: calc(100vh - 140px);
}

.main-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}
.header-page-typography {
  height: 100%;
  overflow: hidden;
}

