@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box;
  max-width: 100%;
}
@import './fonts/fonts.css';

body {
  width: 100%;
  margin: 0;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100vh;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

header,
main,
footer {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
  -webkit-text-fill-color: #222;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container-iframe {
  display: grid;
  grid-template-columns: 70% auto;
  flex-grow: 1;
  height: calc(100vh - 170px);
}

.main-container {
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
}
.header-page-typography {
  height: 100%;
  overflow: hidden;
}

.loader_circle {
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.z-index-1000 {
  z-index: 1000;
}

.button_delete {
  display: flex;
  align-items: center;
  background: #2d72dc;
  outline: none;
  border: none;
  gap: 5px;
  cursor: pointer;
  transition: background 300ms linear;
}
.button_delete:hover {
  background: #4381e0;
}
.label__header {
  border-bottom: none;
}
.label__title {
  font-family: Quicksand;
  font-size: 16px;
}
.label__tag {
  max-width: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  width: max-content;
  font-family: Quicksand;
}
.view-page__logo {
  display: none !important;
}
